.link_style li{
  text-decoration: none;
}

.search_bar select{
  width: 14.8%;
  position: static;
  margin-left: 1px;
  height: 38px;
  float: left;
}

.search_bar input[type=text] {
  width: 80%;
  position: relative;
  float: left;
}


.search_bar input[type=submit]{
  position: relative;
  float: right;
  margin-top: -41px;
  margin-right: 1px;
  width: 5%;
  height: 40px;
}

/* unvisited link */
a:link {
  color: rgb(177, 70, 70);
}

/* visited link */
a:visited {
  color: rgb(177, 70, 70);
}

/* mouse over link */
a:hover {
  color: rgb(177, 70, 70);
}

/* selected link */
a:active {
  color: rgb(177, 70, 70);
}

.shopping_cart details{
  float: left;
}