<h3><%= @category.name %></h3>
<% @category.products.each do |product| %>
  <ul>
    <li>
       <%= image_tag(url_for(product.image), alt:"product_image") %>
      <%= link_to product.name, product %>
    </li>
  </ul>
<% end %>