<h1><%= @category.name %></h1>
<% @category.products.each do |product| %>
  <ul>
    <li>
       <%= image_tag(url_for(product.image), alt:"product_image") %>
    </li>
    <li>
      <%= product.name %>
    </li>
  </ul>
<% end %>