  <ul>
  <% @paginate_results.each do |product| %>
    <li>
      <%=image_tag(url_for(product.image), alt:"product_image")%>
      <%=link_to(product.name, product)%>
      CAN $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %>
    </li>
  <% end %>
  </ul>
<%= will_paginate @paginate_results %>
