<div class="column ">
  <% @paginate_results.each do |product| %>
  <div class="card">
    <div class="products_images">
      <div class="card-image">
        <figure class="image is-48x48">
          <%=image_tag(url_for(product.thumbnail), alt:"product_image")%>
        </figure>
      </div>
    </div>
    <div class="card-content">
    <p class="title is-4"><%=link_to(product.name, product)%></p>
    <h2 class="subtitle is-6">CAN $<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %></h2>
    </div>
  </div>
    <% end %>
</div>

<%= will_paginate @paginate_results, renderer: BootstrapPagination::Rails %>

